body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Franca, .Alemanha, .Colombia, .Japao, .Emirados, .Brasil, .Suica, .Jordania,.TrinidadTobago, .Turquia, .Grecia, .Chile, .EstadosUnidos{
display: flex;
height: 300px;
width: 400px;
border-radius: 25px;
overflow: hidden;
box-shadow: 5px 5px 5px 5px black;
}
.Alemanha, .Colombia, .EstadosUnidos{
    flex-direction: column;
}
.Japao{
    background-color: white;
    align-items: center;
    justify-content: center;
}
.Suica{
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;

}
.Jordania, .Grecia, .EstadosUnidos{
    position: relative;
}
.Turquia{
    align-items: center;
    justify-content: center;
}
.fx-azul, .fx-branca, .fx-vermelha, .fx-vermelha-jordania, .fx-preta, .fx-amarela, .fx-verde {
    flex: 1;
}
.fx-vermelha-suica {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fx-azul, .esfera-azul, .fx-azul-chile{
    background-color: blue;
}
.fx-branca, .fx-branca-suica, .fx-branca-suica-2, .lua, .cross-grecia1, .cross-grecia2, .box-chile{
    background-color: white;
}
.fx-branca-suica {
    width: 40px;
    height: 150px;

} 
.fx-branca-suica-2{
    position: absolute;
    width: 150px;
    height: 40px;
}
.fx-vermelha,.fx-vermelha-suica, .fx-vermelha-jordania, .esfera-vermelha, .fx-vermelha-turquia, .eclipse{
    background-color: red;
}
.fx-vermelha{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fx-vermelha-turquia{
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fx-vermelha-jordania{
    height: 300px;
    width: 400px;
    clip-path: polygon(20% 0%, 70% 50%, 20% 100%);
    position: absolute;
    left: -80px;
}
.fx-preta, .fx-preta-TrinidadTobago{
    background-color: black;
}
.fx-preta-TrinidadTobago{
    width: 500px;
    height: 40px;
    border: 10px solid white;
    position: absolute;
    transform: rotate(35deg);
}
.fx-amarela, .fx-Colom-amarela{
    background-color: yellow;
}
.fx-Colom-amarela{
    flex:2;
}
.esfera-vermelha{
    min-height: 150px;
    min-width: 150px;
    border-radius: 500px;
}
.esfera-azul{
    height: 150px;
    width: 150px;
    border-radius: 500px;
    position: absolute;
    overflow: hidden;
}
.fx-brasil{
    height: 400px;
    width: 400px;
    border: 10px solid white;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: -200px;

}
.box-2{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.fx-verde{
    background-color: rgb(76, 150, 76);
}
.box-verde{
    background-color: green;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fx-Bra-amarela{
    height: 300px;
    width: 300px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(.6) scaleX(.8) rotate(45deg) ;
    position: relative;
}
.estrela, .estrela-turquia{
    position: absolute;
    top: 100px;
    left: 100px;
}
.estrela, .estrela-turquia, .estrela-chile, .estrela-eua {
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.estrela-turquia{
    width: 80px;
    height: 80px;
    left: 55%;
    transform: rotate(25deg);
}
.estrela-eua{
    width: 15px;
    height: 15px;
}
.lua, .eclipse{
    border-radius: 50%;
    position: absolute; 
    top: 50%;
    transform: translate(-40%, -50%);
}
.lua{
    height: 150px;
    width: 150px;
}

.eclipse{
    height: 120px;;
    width: 120px;
    left: 65%;
}

.box-grecia{
    height: 167px;
    width: 40%;
    background-color: #0D5EAF;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.cross-grecia1, .cross-grecia2{
    height: 1000px;
    width: 31px;
}

.cross-grecia2{
    position: absolute;
    transform: rotate(90deg);
}

.fx-grecia{
    height: 100%;
    width: 100%;
    position: absolute;
    background: repeating-linear-gradient(
    #0D5EAF 0 11.11%, #fff 11.11% 22.22%)
}

.Chile{
    flex-direction: column;
    position: relative;
}

.box-chile{
    flex: 1;
    position: relative;
}
.fx-azul-chile{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EstadosUnidos{
    position: relative;
}

.box-eua{
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: flex;
    height: calc(100% * 7 / 13);
    width: 50%;
    background-color: darkblue;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: calc(100%/50);

}

.linha-estrelas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}